<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button>
      Alex's Site
    </ion-button>
    <ion-buttons slot="end">
      <ion-button>About</ion-button>
      <ion-button>Projects</ion-button>
      <ion-button>Experiences</ion-button>
      <ion-button>Contact</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MyWebsite</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container"> -->
  <ion-card>
    <ion-card-content>
      <h1>Hello There!</h1>
      <h2>I'm Alex!</h2>

      <a href="#contact">CONTACT ME!</a>
    </ion-card-content>
    <hr>
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  <!-- </div> -->
</ion-card>
</ion-content>
